@property --console-font-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #00df13;
}

* { padding: 0; margin: 0; }

html, body {
  background-color: #000;
}

#console {
  padding: 10px;
}

.line > .prompt, .line > .command {
  color: var(--console-font-color);

  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  white-space: pre;
  
  margin-bottom: -1px;
  user-select: none;
}

div.line {
  display: flex;
  flex-direction: row;
}

div.caret {
  width: 8px;
  height: 18px;
  background-color: #00df13;
  animation: caret-blink 1.14s steps(2, start) infinite;
}

@keyframes caret-blink {
  to {
    visibility: hidden;
  }
}

